.HealthOfData .memory {
  position: absolute;
  width: 605px;
  height: 320px;
  left: 735px;
  top: 160px;

  background: #FFFFFF;
  box-shadow: 0px 0.2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.HealthOfData .totalthroughput {
  position: absolute;
  width: 625px;
  height: 320px;
  left: 80px;
  top: 160px;

  background: #FFFFFF;
  box-shadow: 0px 0.2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.HealthOfData .avgthroughput {
  position: absolute;
  width: 1260px;
  height: 300px;
  left: 80px;
  top: 500px;

  background: #FFFFFF;
  box-shadow: 0px 0.2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.HealthOfData .individualthroughput {
  position: absolute;
  width: 1260px;
  height: 300px;
  left: 80px;
  top: 820px;

  background: #FFFFFF;
  box-shadow: 0px 0.2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
