.TechnicalDetails .load {
  position: absolute;
  width: 1260px;
  height: 320px;
  left: 80px;
  top: 160px;

  background: #FFFFFF;
  box-shadow: 0px 0.2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.TechnicalDetails .uptime {
  position: absolute;
  width: 1260px;
  height: 320px;
  left: 80px;
  top: 500px;

  background: #FFFFFF;
  box-shadow: 0px 0.2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
