.TransferQueue {
  position: absolute;
  width: 1260px;
  height: 817px;
  left: 82px;
  top: 175px;
    
  background: #FFFFFF;
  box-shadow: 0px 0.2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.TransferQueue .TransferQueueHeading {
  position: absolute;
  width: 198px;
  height: 25px;
  left: 30px;
  top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #303030;
}

.TransferQueue .Transfer1 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 100px;
  top: 70px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #303030; 
}

.TransferQueue .Transfer1 .Transfer1Status {
  position: absolute;
  text-align: center;
  padding: 4px 30px;
  gap: 10px;
  width: 126px;
  height: 27px;
  left: 110px;
  top: -3px;
  background: #FECA57;
  border-radius: 20px;
}

.TransferQueue .Transfer1 .eclipse1 {
  position: absolute;
  width: 34px;
  height: 34px;
  left: -50px;
  top: 15px;
  border-radius: 50px;
  background: #356C9B;
}

.TransferQueue .Transfer1 .eclipse1 .value1 {
  position: relative;
  text-align:center;
  top:-15px;
}

.TransferQueue .Transfer1 .Transfer1Fields .TotalSize {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 0px;
  top: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer1 .Transfer1Fields .TotalSizeValue {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 150px;
  top: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer1 .Transfer1Fields .DateStarted {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 0px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer1 .Transfer1Fields .DateStartedValue {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 150px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer1 .Transfer1Fields .EstimatedCompletion {
  position: absolute;
  width: 150px;
  height: 26.92px;
  left: 0px;
  top: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer1 .Transfer1Fields .EstimatedCompletionValue {
  position: absolute;
  width: 150px;
  height: 26.92px;
  left: 150px;
  top: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer1 .Transfer1Fields .viewDataCatalogueButton {
  box-sizing: border-box;
  position: absolute;
  align-content: center;
  left: 900px;
  top: 80px;
  width: 170px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
  border: 0.5px solid #356C9B;
  border-radius: 5px;
}

.TransferQueue .Transfer1 .Transfer1Fields .viewDataCatalogueButton .viewDataCatalogue {
  position: absolute;
  left: 13.37%;
  right: 12.73%;
  top: 0%;
  bottom: 27.91%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #356C9B;
}

.TransferQueue .Transfer1Line {
  position: absolute;
  width: 1260px;
  height: 0px;
  left: 0px;
  top: 252px;
  border: 1px solid #DEDEDE;
}

/* Transfer 2 CSS*/
.TransferQueue .Transfer2 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 100px;
  top: 250px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #303030; 
}

.TransferQueue .Transfer2 .Transfer2Status {
  position: absolute;
  text-align: center;
  padding: 4px 30px;
  gap: 10px;
  width: 126px;
  height: 27px;
  left: 110px;
  top: -3px;
  background: #C1C1C1;
  border-radius: 20px;
}

.TransferQueue .Transfer2 .eclipse2 {
  position: absolute;
  width: 34px;
  height: 34px;
  left: -50px;
  top: 15px;
  border-radius: 50px;
  background: #356C9B;
}

.TransferQueue .Transfer2 .eclipse2 .value {
  position: relative;
  text-align:center;
  top:-15px;
}

.TransferQueue .Transfer2 .Transfer2Fields .TotalSize {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 0px;
  top: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer2 .Transfer2Fields .TotalSizeValue {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 150px;
  top: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer2 .Transfer2Fields .DateStarted {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 0px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer2 .Transfer2Fields .DateStartedValue {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 150px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer2 .Transfer2Fields .EstimatedCompletion {
  position: absolute;
  width: 150px;
  height: 26.92px;
  left: 0px;
  top: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer2 .Transfer2Fields .EstimatedCompletionValue {
  position: absolute;
  width: 150px;
  height: 26.92px;
  left: 150px;
  top: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer2 .Transfer2Fields .viewDataCatalogueButton {
  box-sizing: border-box;
  position: absolute;
  align-content: center;
  left: 900px;
  top: 80px;
  width: 170px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
  border: 0.5px solid #356C9B;
  border-radius: 5px;
}

.TransferQueue .Transfer2 .Transfer2Fields .viewDataCatalogueButton .viewDataCatalogue {
  position: absolute;
  left: 13.37%;
  right: 12.73%;
  top: 0%;
  bottom: 27.91%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #356C9B;
}

.TransferQueue .Transfer2Line {
  position: absolute;
  width: 1260px;
  height: 0px;
  left: 0px;
  top: 420px;
  border: 1px solid #DEDEDE;
}

/* Transfer 3 CSS*/
.TransferQueue .Transfer3 {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 100px;
  top: 450px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #303030;
}

.TransferQueue .Transfer3 .Transfer3Status {
  position: absolute;
  text-align: center;
  padding: 4px 30px;
  gap: 10px;
  width: 126px;
  height: 27px;
  left: 110px;
  top: -3px;
  background: #C1C1C1;
  border-radius: 20px;
}

.TransferQueue .Transfer3 .eclipse3 {
  position: absolute;
  width: 34px;
  height: 34px;
  left: -50px;
  top: 15px;
  border-radius: 50px;
  background: #356C9B;
}

.TransferQueue .Transfer3 .eclipse3 .value {
  position: relative;
  text-align:center;
  top:-15px;
}


.TransferQueue .Transfer3 .Transfer3Fields .TotalSize {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 0px;
  top: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer3 .Transfer3Fields .TotalSizeValue {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 150px;
  top: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer3 .Transfer3Fields .DateStarted {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 0px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer3 .Transfer3Fields .DateStartedValue {
  position: absolute;
  width: 101px;
  height: 26.92px;
  left: 150px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}


.TransferQueue .Transfer3 .Transfer3Fields .EstimatedCompletion {
  position: absolute;
  width: 150px;
  height: 26.92px;
  left: 0px;
  top: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer3 .Transfer3Fields .EstimatedCompletionValue {
  position: absolute;
  width: 150px;
  height: 26.92px;
  left: 150px;
  top: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #303030;
}

.TransferQueue .Transfer3 .Transfer3Fields .viewDataCatalogueButton {
  box-sizing: border-box;
  position: absolute;
  align-content: center;
  left: 900px;
  top: 80px;
  width: 170px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
  border: 0.5px solid #356C9B;
  border-radius: 5px;
}

.TransferQueue .Transfer3 .Transfer3Fields .viewDataCatalogueButton .viewDataCatalogue {
  position: absolute;
  left: 13.37%;
  right: 12.73%;
  top: 0%;
  bottom: 27.91%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;  
  color: #356C9B;
}
